/*Login/index.css*/
   ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      width: 100%;
      overflow:hidden;
      border: 1px solid #e7e7e7;
      background-color: #919191;
      display: inline-block;
      
  }
  
  li a {
      float:left;
      display: block;
      color: #000;
      text-align: center;
      padding: 8px 16px 8px 16px;
      text-decoration: none;
  }
  
  /* Change the link color on hover */
  li a:hover {
      background-color: #1f1;
      color: white;
      text-decoration:overline;
      text-decoration-color: rgb(255, 255, 0);
      font-size: 0.9em;
      font-variant: small-caps;
      font-family: "Oswald","Helvetica Neue","Arial","Helvetica",sans-serif;
  }
 